#cursor{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 15px 0px;
    mix-blend-mode: difference;
    background: #fff;
    pointer-events: none;
}
.main-container{
    height: max-content;
}
.name-tag-one-content{
    
    top: 115px;
    left: 85px;
}

@media screen and (min-width:640px) {
  .name-tag-one-content {
    top: 126px;
    left: 100px;
  }
}
@media screen and (min-width:768px) {
  .name-tag-one-content {
    top: 126px;
    left: 100px;
  }
}
@media screen and (min-width:1024px) {
  .name-tag-one-content {
    top: 140px;
    left: 135px;
  }
}
.text-stroke {
    color: var(--secondary-neon);
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke: 2px var(--secondary-neon);
    font-size: clamp(20px, 12vw, 96px);
    letter-spacing: 3px;
  }
  @media screen and (min-width:1024px) {
    .text-stroke {
      -webkit-text-fill-color: transparent;
  
    }
  }


  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  
  /* .journey-container{
    height: 300vh;
  } */


  .years-card{
    border-top: 1px solid #f2e8de;
    min-width: 505px;
    position: relative;
  }
  .years-card::after{
    content: '';
    height: 50px;
    width: 1px;
    background-color: #f2e8de;
    position: absolute;
    top: 0;
  }
  .years-card::before{
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f2e8de;
    position: absolute;
    left: -4.5px;
    top: 50px;
  }
  .years-card:nth-child(1)::after, 
  .years-card:nth-child(1)::before{
    display: none;
  }