#cursor{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 15px 0px;
    mix-blend-mode: difference;
    background: #fff;
    pointer-events: none;
}
.main-container{
    height: 600vh;
}
.name-tag-one-content{
    
    top: 102px;
    left: 59px;
}
@media screen and (min-width:320px) {
  .name-tag-one-content {
    top: 102px;
    left: 59px;
  }
}
@media screen and (min-width:768px) {
  .name-tag-one-content {
    top: 126px;
    left: 100px;
  }
}
@media screen and (min-width:1024px) {
  .name-tag-one-content {
    top: 140px;
    left: 135px;
  }
}
.text-stroke {
    color: var(--secondary-neon);
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke: 2px var(--secondary-neon);
    font-size: clamp(20px, 12vw, 96px);
    letter-spacing: 3px;
  }
  @media screen and (min-width:1024px) {
    .text-stroke {
      -webkit-text-fill-color: transparent;
  
    }
  }


  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  
  