#cursor{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 15px 0px;
    mix-blend-mode: difference;
    background: #fff;
    pointer-events: none;
}
.main-container{
    height: 600vh;
}
.name-tag-one-content{
    top: 140px;
    left: 135px;
}