@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* colors */
    --primary-dark-blue: #060918;
    --secondary-gold: #F7c232;
    --text: #fff;
    --brand: #6919ff;
    --primary-light-blue: #2c7695;

    /* font-families */
    --ff-japanese: "Noto Sans JP", sans-serif;
    --ff-hindi: "Tiro Devanagari Hindi", serif;
    --ff-raleway: "Raleway", sans-serif;
    --ff-titan: "Titan One", sans-serif


    font-family: var(var(--ff-raleway));
}

.primary-text{
    color: var(--primary-dark-blue);
}
.white-text{ 
    color: var(--text);
}
.secondary-text{
    color: var(--secondary-gold);
}


.primary-fill{
    fill: var(--primary-dark-blue);
}
.secondary-fill{
    fill: var(--secondary-gold);
}
.white-fill{
    fill: var(--text);
}

.ff-japanese{
    font-family: var(--ff-japanese);
}
.ff-hindi{
    font-family: var(--ff-hindi);
}
.ff-raleway{
    font-family: var(--ff-raleway);
}
.ff-titan{
    font-family: var(--ff-titan);
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: var(--primary-dark-blue);
}
#main-container{
    background: var(--primary-dark-blue);
    height: 100vh;
    width: 100%;
    color: var(--text);
    max-width: 1400px;
    margin-inline: auto;
    position: relative;
    padding-inline: 16px;
}
@media screen and (min-width: 640px) {
    #main-container{
        padding-inline: 0px;
    }
}