@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --secondary-gold: #f7c232;
  --brand: #6919ff;

  /* font-families */
  --ff-japanese: "Noto Sans JP", sans-serif;
  --ff-hindi: "Tiro Devanagari Hindi", serif;
  --ff-raleway: "Raleway", sans-serif;
  --ff-titan: "Titan One", sans-serif;

  --primary-red: #ff535b;
  --secondary-neon: #88e7c4;
  --color-white: #fff;
  --color-text: #f2e8de;
  --color-bg: #151515;
  --color-bg-alt: #1d1d1d;

  font-family: var(var(--ff-raleway));
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Clash Display */

@font-face {
  font-family: "ClashDisplayExtraLight"; 
  src: local("ClashDisplayExtraLight"),
    url("./assets/fonts/ClashDisplay-Extralight.woff") format("woff");
}
@font-face {
  font-family: "ClashDisplayLight"; 
  src: local("ClashDisplayLight"),
    url("./assets/fonts/ClashDisplay-Light.woff") format("woff");
}
@font-face {
  font-family: "ClashDisplayMedium"; 
  src: local("ClashDisplayMedium"),
    url("./assets/fonts/ClashDisplay-Medium.woff") format("woff");
}
@font-face {
  font-family: "ClashDisplayRegular"; 
  src: local("ClashDisplayRegular"),
    url("./assets/fonts/ClashDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "ClashDisplaySemiBold"; 
  src: local("ClashDisplaySemiBold"),
    url("./assets/fonts/ClashDisplay-Semibold.woff") format("woff");
}

@font-face {
  font-family: "ClashDisplayBold"; 
  src: local("ClashDisplayBold"),
    url("./assets/fonts/ClashDisplay-Bold.woff") format("woff");
}


/* Humane font-family */

@font-face {
  font-family: "humane-light";
  src: local("humane-light"),url("./assets/fonts/humane/Humane-Light.woff");
}
@font-face {
  font-family: "humane-extra-light";
  src: local("humane-extra-light"),url("./assets/fonts/humane/Humane-ExtraLight.woff");
}
@font-face {
  font-family: "humane-regular";
  src: local("humane-regular"),url("./assets/fonts/humane/Humane-Regular.woff");
}
@font-face {
  font-family: "humane-medium";
  src: local("humane-medium"),url("./assets/fonts/humane/Humane-Medium.woff");
}
@font-face {
  font-family: "humane-semi-bold";
  src: local("humane-semi-bold"),url("./assets/fonts/humane/Humane-SemiBold.woff");
}
@font-face {
  font-family: "humane-bold";
  src: local("humane-bold"),url("./assets/fonts/humane/Humane-Bold.woff");
}

.ff-humane-extra-light{
  font-family: 'humane-extra-light';
}
.ff-humane-light{
  font-family: 'humane-light';
}
.ff-humane-regular{
  font-family: 'humane-regular';
}
.ff-humane-medium{
  font-family: 'humane-medium';
}
.ff-humane-semi-bold{
  font-family: 'humane-semi-bold';
}
.ff-humane-bold{
  font-family: 'humane-bold';
}


.ff-japanese {
  font-family: var(--ff-japanese);
}
.ff-hindi {
  font-family: var(--ff-hindi);
}

.primary-red {
  color: var(--primary-red);
}
.fill-primary {
  fill: var(--primary-red);
}
.fill-text{
  fill: var(--color-text)
}
.fill-dark-text{
  fill: var(--color-bg-text)
}
.secondary-neon {
  color: var(--secondary-neon);
}
.text-color {
  color: var(--color-text);
}
.text-dark-color{
  color: var(--color-bg-alt);
}
.white-color {
  color: var(--color-white);
}
.bg-darker{
  background-color: var(--color-bg);
}
.bg-dark{
  background-color: var(--color-bg-alt);
}
.bg-light{
  background-color: var(--color-text);
}
.bg-primary{
  background-color: var(--primary-red);
}


.ff-extra-light {
  font-family: ClashDisplayExtraLight;
}
.ff-light {
  font-family: ClashDisplayLight;
}
.ff-medium {
  font-family: ClashDisplayMedium;
}
.ff-regular {
  font-family: ClashDisplayRegular;
}
.ff-semibold {
  font-family: ClashDisplaySemiBold;
}
.ff-bold {
  font-family: ClashDisplayBold;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: var(--color-bg);
  cursor: none;
}
#main-container {
  background: var(--primary-dark-blue);
  height: 200vh;
  width: 100%;
  color: var(--text);
  margin-inline: auto;
  position: relative;
  padding-inline: 16px;
}
@media screen and (min-width: 640px) {
  #main-container {
    padding-inline: 0px;
  }
}
.button-border-light{
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.button-border-dark{
  border: 1px solid rgba(0, 0, 0, 0.4);
}